<a href="https://colab.research.google.com/github/mw1849/nyu-python-public-policy/blob/master/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df[['Created Date']].min()

Created Date    01/01/2019 01:00:00 PM
dtype: object

In [11]:
df[['Created Date']].max()

Created Date    12/31/2018 12:59:41 PM
dtype: object

In [12]:
df.head(1)

   Unique Key  ...                                Location
0    39888071  ...  (40.79333937834769, -73.9429417746998)

[1 rows x 41 columns]

In [13]:
df.tail(1)

         Unique Key  ...                                 Location
2859199    43623704  ...  (40.63679359185655, -74.15397942810047)

[1 rows x 41 columns]

When I use the max() and min() functions to try to find the maximum and minimum values, respectively, for the "Created Date" column, I get '12/31/2018 12:59:41 PM' for the maximum value and '01/01/2019 01:00:00 PM' for the miniumum value. This surprises me because the maximum value is actually earlier than the minimum value (maximum value is in 2018 while the minimum value is in 2019). Perhaps the reason for this is because it is only looking at the month of the value, rather than the actual date. As such, because 12 is a larger number than 1, Python registers '12/31/2018 12:59:41 PM' as the later date even though '01/01/2019 01:00:00 PM' is later. It is possible that Python requires us to format the value of "Created Date" into dates first before it will return the correct values for the oldest and most recent dates. 

If I use the .head() and .tail() functions, I get the correct dates, which are '08/01/2018 12:00:10 AM' for the minimum value and '08/24/2019 02:00:56 AM' for the maximum value. Assuming that these are the correct dates, the max() and min() values are not even taking the maximum and minimum values from the dataset but the maximum and minimum of the year of the true maximum 
and minimum values. For example, the true minimum value is '08/01/2018 12:00:10 AM' and the maximum date for 2018 would be '12/31/2018 12:59:41 PM'. Similarly, the true maximum value is '08/24/2019 02:00:56 AM' and the minimum date for 2019 would be '01/01/2019 01:00:00 PM'.

Questions after the tutorials:

Regarding the Data Aggregation using Pandas tutorial, why do you need two brackets to contain the column name in order to find the count of values within it?

Is it accurate to say that when using pandas, we can use the "." to delineate the columns and apply methods to find specific information about the columns across all situations (e.g., zoo.water_need.sum())?