<a href="https://colab.research.google.com/github/mw1849/nyu-python-public-policy/blob/master/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data_hw3.csv', header='infer')

**STEP 1:**

In [0]:
df.descriptor = df.descriptor.str.lower()

In [5]:
df.descriptor

0         structure - outdoors
1            garbage or litter
2           hours of operation
3            garbage or litter
4            garbage or litter
                 ...
64572          rodent sighting
64573     structure - outdoors
64574    graffiti or vandalism
64575        garbage or litter
64576     structure - outdoors
Name: descriptor, Length: 64577, dtype: object

In [0]:
df.complaint_type = df.complaint_type.str.lower()

In [7]:
df.complaint_type

0        maintenance or facility
1        maintenance or facility
2        maintenance or facility
3        maintenance or facility
4        maintenance or facility
                  ...
64572    maintenance or facility
64573    maintenance or facility
64574    maintenance or facility
64575    maintenance or facility
64576    maintenance or facility
Name: complaint_type, Length: 64577, dtype: object

In [0]:
def contains_graffiti(row):
  if 'graffiti' in row.complaint_type:
    return 'true'
  if pd.notnull(row.descriptor):
    if 'graffiti' in row.descriptor:
      return 'true'
    else:
      return 'false'

**STEP 2:**

In [0]:
df['graffiti_flag'] = df.apply(contains_graffiti, axis =1)

In [10]:
df.groupby('graffiti_flag').size()

graffiti_flag
false    38206
true     26371
dtype: int64

In [12]:
df[df.graffiti_flag == 'true'].groupby(['graffiti_flag', 'complaint_type']).size()

graffiti_flag  complaint_type
true           bridge condition                 60
               broken parking meter             83
               bus stop shelter complaint      187
               graffiti                      24986
               highway condition               310
               maintenance or facility         577
               public payphone complaint       112
               public toilet                    10
               school maintenance               46
dtype: int64

**STEP 3:**

In [0]:
df_graffiti = df[df.graffiti_flag == 'true']

In [14]:
df_graffiti

       Unnamed: 0  ...  graffiti_flag
8             860  ...           true
9             876  ...           true
10            964  ...           true
12           1007  ...           true
13           1013  ...           true
...           ...  ...            ...
64510     2854717  ...           true
64511     2854787  ...           true
64528     2855845  ...           true
64566     2857045  ...           true
64574     2857951  ...           true

[26371 rows x 44 columns]

**STEP 4:**

In [15]:
df_graffiti.groupby('community_board').size().nlargest().reset_index(name='count')

  community_board  count
0     01 BROOKLYN   1797
1    03 MANHATTAN   1593
2     04 BROOKLYN   1429
3     03 BROOKLYN   1252
4     05 BROOKLYN    962